# Assignment: Extracting Static WebPage

Extract information about “วันพระ” for 3 years from:
- https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2563.aspx
- https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2564.aspx
- https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2565.aspx

Note that you can use dateparse package to parse Thai date.  First, we will have to install the package, this is for Google Colab users.  Otherwise, installing via command line is recommended (pip or conda).

In [ ]:
import sys

url_list = [
    'https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2563.aspx', 
    'https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2564.aspx',
    'https://www.myhora.com/ปฏิทิน/วันพระ-พ.ศ.2565.aspx'
]

import os
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    %pip install dateparser
    for i in range(len(url_list)):
      os.system('wget {} -O {}.html'.format(url_list[i],i))

To convert from thai text date string, we will use the parse method.  Note that the parse method assumes the BC year, not BE.  Thus, we will have to subtract 543 from the year.  In addition, weekday() returns day of week with 0=Monday, ..., 6=Sunday.

In [ ]:
import dateparser
from bs4 import BeautifulSoup
from bs4.element import Tag
from IPython.core.display import HTML

In [ ]:
def get_day_of_week(date_str):
  dt = dateparser.parse(date_str) # 'วันเสาร์ที่ 24 กันยายน 2565'
  dt = dt.replace(year=dt.year-543)
  return dt.weekday()

Count the distribution of number of week days that are “วันพระ” for all three years and answer the following questions:

In [ ]:
def get_date_list(s):
  with open(s) as f:
    html = f.read()
  soup = BeautifulSoup(html, "lxml")
  date_list = []
  for div in soup.find_all('div',{'class': 'bud-day'}):
    for y in div.find('div'):
      date_list.append(y)
  return date_list

In [ ]:
date_list = []
for i in range(3):
  date_list += get_date_list('{}.html'.format(i))
date_list

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame(date_list, columns=['date'])
df['weekday'] = df['date'].apply(get_day_of_week)
df.head()

                            date  weekday
0   วันพฤหัสบดีที่ 2 มกราคม 2563        3
1   วันพฤหัสบดีที่ 9 มกราคม 2563        3
2     วันศุกร์ที่ 17 มกราคม 2563        4
3     วันศุกร์ที่ 24 มกราคม 2563        4
4  วันเสาร์ที่ 1 กุมภาพันธ์ 2563        5

## How many วันพระ in total (of 3 years)?

In [ ]:
df.shape[0]

152

## How many days in total (of 3 years) that วันพระ is Sunday?

In [ ]:
len(df[df['weekday']== 6])

21

## Which day of the week that has the minimum number of วันพระ?

In [ ]:
df['weekday'].value_counts()

3    24
4    22
0    22
1    22
6    21
2    21
5    20
Name: weekday, dtype: int64

วันเสาร์

## Which day of the week that has the maximum number of วันพระ?

วันพฤหัสบดี